@import url('Header.css');

body {
  margin: 0;
  padding: 0;
  background-image: url('images/gradient.png');
  background-size: cover;
  /*background-color: #00061d;
  background: linear-gradient(45deg, #00061d, #151927, #102166);
  background-image: linear-gradient(135deg, #020d3a, #00061d, #160231);*/
  height: 100%;
}

main {
  margin-top: 52px;
  height: 100%;
  width: 100%;
}

/*
div.img {
  float: right;
}*/

img {
  width: 20%;
  margin-left: 40%;
  margin-right: auto;
  margin-top: 1%;
}

p {
  font-family: 'Arial', sans-serif;
}

.text {
  width: 35%;
  margin-left: 32.5%;
  margin-right: auto;
  margin-top: 1%;
  font-size: 1.2em;
}

p.author {
  width: 100%;
  text-align: right;
  margin-bottom: 30px;
}

p.fact {
  margin-bottom: 20px;
}

b {
  color: #b2c0f2;
}

footer {
  margin-top: 6%;
}

@media (max-width: 974px) {
  img {
    width: 30%;
    margin-left: 35%;
    margin-right: auto;
    margin-top: 10%;
  }
  .text {
    width: 55%;
    margin-left: 23.5%;
    margin-right: auto;
  }
  p.author {
    width: 97%;
  }
  footer {
    margin-top: 5%;
  }
}

@media (min-width: 975px) and (max-width:1194px){
  img {
    width: 25%;
    margin-left: 37.5%;
    margin-right: auto;
    margin-top: 3%;
  }
  .text {
    width: 50%;
    margin-left: 25%;
    margin-right: auto;
    margin-top: 2%;
  }
  p.author {
    width: 97%;
  }
  footer {
    margin-top: 10%;
  }
}

@media (min-width: 1195px) and (max-width:1364px){
  img {
    width: 25%;
    margin-left: 37.5%;
    margin-right: auto;
    margin-top: 2%;
  }
  .text {
    width: 45%;
    margin-left: 27.5%;
    margin-right: auto;
    margin-top: 2%;
  }
  p.author {
    width: 97%;
  }
  footer {
    margin-top: 7%;
  }
}
